<form class="d-inline" action="#" method="get">
    <div class="input-group">
        <input id="search" type="text" name="term" class="form-control"
               placeholder="Search here..."
               value="{{ search_term }}"
               aria-label="search"
               aria-describedby="basic-addon1">
        <div class="input-group-append">
            <button class="btn btn-primary" id="basic-addon1">
                <span class="fas fa-search"></span>
            </button>
        </div>
    </div>
</form><!-- Form -->